<a href="https://colab.research.google.com/github/heejininku/class2022Fall/blob/main/20221125(2)_dimensionality_reduction(PCA).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

수학, 통계, 심리학과 등에서 중요함.
매우 중요!

변수 하나 가지고 하는 것임.

dimensionality_reduction이라는 것은 차원을 줄인다는 의미. (4차원을 3차원으로 바꾸는 등)

Iris 데이터를 예로 들어서 이야기한다면, 4개의 정보를 알아야지만 종류를 알아? 그럼 2개나 1개의 정보로는 안되니? 이런 의미

(숫자가 적게 들어갈 수록 컴퓨터 잘 돌아갔던 과거)

https://medium.com/analytics-vidhya/dimensionality-reduction-principal-component-analysis-d1402b58feb1

## Loading a dataset

In [ ]:
import pandas as pd
iris = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data', names=['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'label'])
iris

     sepal_length  sepal_width  petal_length  petal_width           label
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [ ]:
X = iris.drop(['label'], axis=1)
#label은 없어도 됨. 하나의 변수만으로 PCA를 때리는 것.
X

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

## Principal Component Analysis (PCA)

In [ ]:
from sklearn.decomposition import PCA
model = PCA(n_components=4)  # n_components specifies the new dimensionality
#이 경우는 4개 다 쓰는 상황
X_reduced = model.fit(X).transform(X) # or just pca.fit_transform(X)
#어쨌든 위에 X-reduced가 출력값이라고 할 수 있음.
pd.DataFrame(X_reduced) #df로 만들어서 보기 좋게 한 것뿐

            0         1         2         3
0   -2.684207  0.326607 -0.021512  0.001006
1   -2.715391 -0.169557 -0.203521  0.099602
2   -2.889820 -0.137346  0.024709  0.019305
3   -2.746437 -0.311124  0.037672 -0.075955
4   -2.728593  0.333925  0.096230 -0.063129
..        ...       ...       ...       ...
145  1.944017  0.187415  0.179303  0.425082
146  1.525664 -0.375021 -0.120636  0.255723
147  1.764046  0.078519  0.130784  0.136295
148  1.901629  0.115877  0.722874  0.040873
149  1.389666 -0.282887  0.362318 -0.156310

[150 rows x 4 columns]

위의 숫자들을 이해하자.

첫번째 칼럼에 나오는 것은 오리지널 축이 이동하고 로테이트해서 가장 두꺼운 축에 해당하는 값들.
값들이 당연히 달라질 수 밖에 없음.
축이 이동했으니까.

아래에 나오는 행렬 개념 보충설명

행렬은 직사각형이다. 행렬의 직사각형의 숫자들이 있으면 (3x2)이라고 하면 행이 3개,열이 2개

행렬은 곱하기가 가능함.
3x2의 행렬은 2xㅁ와만 곱하기 가능함.
그 이유는 짝을 맞추어서 곱해야 하므로 (노타빌리티 정리함)

In [ ]:
#모델은 이미 훈련되어 데이터에 맞게 fitting하면서 중심으로 들어가서 왔다갔다해서 찾아냄.
#그 정보가 아래에 들어있음.
print('Components:', model.components_)
#여기서 나오는 정보가 매우 중요함.행렬값이 나옴.
#원래 4차원 벡터가 150개 있었음. #pca 했더니 똑같이 4차원의 150개
#(150x4)이 (150x4)으로 되었는데, 즉 CPA후상태에 무엇을 곱하면,원래처럼 다시 나올지에 대한 정보가 들어있는 행렬임.
#지금 여기 나온 행렬이 (4x4)인데 (150x4)와 (4x4)를 곱하면 (150x4) 나오니까~
#원상복구할 때 필요한 템플릿 행렬이 나온 것.
print('Explained Variance:', model.explained_variance_)
#standard deviation(표준편차)를 제곱한 varience(분산)임.
#얼마나 데이터의 두께를 커버하느냐에 대한 것.뒤에 두개를 봤더니 너무 미약하네 앞 두개만 써야지 할 수도 있음.
print('Explained Variance Ratio:', model.explained_variance_ratio_ )
#이것은 분산을 백분위로 나타내서, 각각 이 데이터의 몇 퍼센트를 설명하는지가 나와있음.
#첫번째 축은 0.92... 이런 식으로 #다 합치면 1임.

Components: [[ 0.36158968 -0.08226889  0.85657211  0.35884393]
 [ 0.65653988  0.72971237 -0.1757674  -0.07470647]
 [-0.58099728  0.59641809  0.07252408  0.54906091]
 [ 0.31725455 -0.32409435 -0.47971899  0.75112056]]
Explained Variance: [4.22484077 0.24224357 0.07852391 0.02368303]
Explained Variance Ratio: [0.92461621 0.05301557 0.01718514 0.00518309]

In [ ]:
from sklearn.decomposition import PCA
model = PCA(n_components=2)  # n_components specifies the new dimensionality
#앞서 4개의 설명력을 살펴보니 2개만 봐도 될 거 같아서 여기서는 2개만 쓰겠다고 했지만, 항상 그럴 필요는 없음,
#4개 다 쓰겠다고 해도 됨.#그러나 5라고 하면 안된다. (MAX가 오리지널 차원이다)
X_reduced = model.fit(X).transform(X) # or just pca.fit_transform(X)
pd.DataFrame(X_reduced)

            0         1
0   -2.684207  0.326607
1   -2.715391 -0.169557
2   -2.889820 -0.137346
3   -2.746437 -0.311124
4   -2.728593  0.333925
..        ...       ...
145  1.944017  0.187415
146  1.525664 -0.375021
147  1.764046  0.078519
148  1.901629  0.115877
149  1.389666 -0.282887

[150 rows x 2 columns]

In [ ]:
print('Components:', model.components_)
#그럼 원상복귀시키는 행렬이 달라짐, (2,4)가 나옴.
#PCA 후인 (150X2)에 (2X4) 곱하면 (150X4) 나오므로
print('Explained Variance:', model.explained_variance_)
# Variance는 설명력, 두께로 이해하면 된다.
print('Explained Variance Ratio:', model.explained_variance_ratio_ )

Components: [[ 0.36158968 -0.08226889  0.85657211  0.35884393]
 [ 0.65653988  0.72971237 -0.1757674  -0.07470647]]
Explained Variance: [4.22484077 0.24224357]
Explained Variance Ratio: [0.92461621 0.05301557]

In [ ]:
X_approx = model.inverse_transform(X_reduced) #원상복귀시켜주는 과정
#X_reduced가 PCA 후의 행렬임. model 안에 이미 원복 행렬이 있기에 inverse_transform라는 함수 써서 원복시키기
#오리지널을 X_approx라고 써놨는데 사실 이건 완벽 오리지널이 될 수 없음. 
#우리가 component를 2개만 가져온 상황이므로 (만약 4개하면 완벽 원복도 되겠지만)
pd.DataFrame(X_approx)

            0         1         2         3
0    5.087182  3.513156  1.402043  0.211056
1    4.750155  3.153664  1.462541  0.236932
2    4.708232  3.191519  1.307469  0.171933
3    4.645984  3.052915  1.460831  0.236367
4    5.075937  3.522147  1.362737  0.194581
..        ...       ...       ...       ...
145  6.669315  3.030827  5.390916  1.882264
146  6.148781  2.654828  5.131424  1.774158
147  6.532745  2.966170  5.255898  1.825818
148  6.607020  2.982112  5.367182  1.872398
149  6.160096  2.733248  4.998738  1.718473

[150 rows x 4 columns]

이번에는 하나만 가지고도 해보자

In [ ]:
from sklearn.decomposition import PCA
model = PCA(n_components=1)  # n_components specifies the new dimensionality
X_reduced = model.fit(X).transform(X) # or just pca.fit_transform(X)
pd.DataFrame(X_reduced)

            0
0   -2.684207
1   -2.715391
2   -2.889820
3   -2.746437
4   -2.728593
..        ...
145  1.944017
146  1.525664
147  1.764046
148  1.901629
149  1.389666

[150 rows x 1 columns]

In [ ]:
print('Components:', model.components_)
print('Explained Variance:', model.explained_variance_)
print('Explained Variance Ratio:', model.explained_variance_ratio_ )
#이거 하나만도 92퍼센트임.

Components: [[ 0.36158968 -0.08226889  0.85657211  0.35884393]]
Explained Variance: [4.22484077]
Explained Variance Ratio: [0.92461621]

In [ ]:
X #이게 찐 원복임
#위에 것과 비교해보면 조금 차이는 있지만 거의 비슷함.
#원래는 150X4나 있었는데, PCA해서 원복을 했다는 것은 그만큼 필요가 없다는 걸 증명한 것.
#모두 들고 있을 필요없다. PCA된 값만 들고 있어도, 그 행렬만 있어도 원복을 할 수 있다.

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [ ]:
X_approx = model.inverse_transform(X_reduced) 
#1개의 component만 활용했지만 원상복귀시켜주는 과정
pd.DataFrame(X_approx)
#거의 유사한 면이 있음. 
#1차원 밖에 없는데도 PCA가 잘 되어있기에 그것을 통해 차원축소를 하고 이후 원복도 잘 됨을 알 수 있었음.

            0         1         2         3
0    4.872752  3.274827  1.459450  0.235455
1    4.861476  3.277392  1.432739  0.224265
2    4.798404  3.291742  1.283328  0.161672
3    4.850250  3.279946  1.406145  0.213124
4    4.856702  3.278478  1.421430  0.219528
..        ...       ...       ...       ...
145  6.546270  2.894068  5.423857  1.896265
146  6.394998  2.928485  5.065508  1.746142
147  6.481194  2.908874  5.269699  1.831684
148  6.530943  2.897555  5.387549  1.881055
149  6.345822  2.939674  4.949016  1.697340

[150 rows x 4 columns]

PCA의 두가지 효과
1. 정보 자체가 경제적이다.
2. PCA된 값들은 서로서로 Decorrelate된 값이다.(독립적인 두 변수) (축의 방향으로 분포되도록~)

한 걸음 더 나아가면, 

PCA에서 저기 행렬값들이 선형대수의 꽃임.

AI는 막 돌리고, 행렬이 바뀌어나가는 과정이 사실 내부적으로 decorrelate이 효율적으로 되고 있는 것이다.


모든 것은 벡터화된다.

그리고 벡터 공간에서 한 점을 찍고 나면, 이것들이Overlap되지 않고 상당히 다른 공간을 차지하고 있다: 그 점을 이용하는 것이 ai,데이터 분석 (PCA도 같은 맥락이긴 함)

그리고 AI가 훈련되는 과정이 PCA가 되는 과정을 꽤나 모방하고 있다.
(독립된 Feature을 가지고 있을 때가 훨씬 더 잘 구별을 할 수 있다.)

항상생각하기: 
데이터는 벡터다.
벡터 공간 상의 한 점.
벡터화 자체가 시각화에 영향


키워드 하나는 "벡터"

벡터는 물리에서 나오는 것인데 

물리에서의 벡터는 크기와 방향의 표현임.

물리의 벡터와 데이터의 벡터가 있음.

물리에서의 벡터는 크기와 방향의 표현.

데이터의 벡터는 숫자열.

사실 두 말은 같은 말임.
숫자열은 (2,0,-1)이런 것. 이것을 벡터 공간 상에서 점을 찍었다. 원점을 생각해보자. 이 점까지를 생각하면 물리의 벡터가 됨. 하나의 방향이 있고 원점과의 거리가 있다, 즉 크기가 있다.

원점을 생각하면 물리고, 원점 생각 안하고 찍으면 데이터고 그런 것.

옛날에는 중간의 과정을 많이 생각했으나, 이제는 
그 과정을 신경망에게 맡기고... end부터 end까지를 집중하는 경향이 있음. 몰라야한다는 것이 아니라.. 그렇다는 것.

logistic function은 linear하지 않은 function인데 확 변화가 있는 그런 특성이 있음.
그러나 교수님은 이런 삶을 권장하지 않음.
자기가 하는 만큼 얻어내는 그런 일을 했으면 좋겠다.