<a href="https://colab.research.google.com/github/heejininku/class2022Fall/blob/main/20221118(4)_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

어떤 숫자정보가 들어가고 입력으로 숫자가 아닌 것이 나오면 이게 CLASSIFICATION이구나를 알 수 있어야 함.

입력변수는 갯수가 여러개 있을 수 있지만
출력변수는 하나만

2차원에 X,Y축에 점이 무수히 많고 Y=ax+b 긋는 것은 regression
그런데 classification과 regression은 그렇게 많이 다르지 않음.
(아이패드에 일부 그림)
출력변수가 0,1로 처리되고, 또는 분류값이 여러개일때는 0,1보다 많을 것.

## Loading a dataset

In [ ]:
import pandas as pd

### iris dataset

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
iris = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data', names=['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'label'])
iris['label'] = le.fit_transform(iris['label']) #label을 
iris.head()

   sepal_length  sepal_width  petal_length  petal_width  label
0           5.1          3.5           1.4          0.2      0
1           4.9          3.0           1.4          0.2      0
2           4.7          3.2           1.3          0.2      0
3           4.6          3.1           1.5          0.2      0
4           5.0          3.6           1.4          0.2      0

In [ ]:
iris #sepal은 꽃받침. #petal은 꽃잎
#네가지의 정보를 주고 classification하도록 할 것.
#한종 당 50개씩 있을 것.

     sepal_length  sepal_width  petal_length  petal_width  label
0             5.1          3.5           1.4          0.2      0
1             4.9          3.0           1.4          0.2      0
2             4.7          3.2           1.3          0.2      0
3             4.6          3.1           1.5          0.2      0
4             5.0          3.6           1.4          0.2      0
..            ...          ...           ...          ...    ...
145           6.7          3.0           5.2          2.3      2
146           6.3          2.5           5.0          1.9      2
147           6.5          3.0           5.2          2.0      2
148           6.2          3.4           5.4          2.3      2
149           5.9          3.0           5.1          1.8      2

[150 rows x 5 columns]

### breast cancer dataset

In [ ]:
breast_cancer = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/breast-cancer-wisconsin.data', names=['id', 'clump_thickness', 'uniformity_of_cell_size', 'uniformity_of_cell_shape', 'marginal_adhesion', 'single_epithelial_cell_size', 'bare_nuclei', 'bland_chromatin', 'normal_nucleoli', 'mitoses', 'label'])
#불러오는데 칼럼명이 없어서 입력해줌.
breast_cancer.drop(['id'], axis=1, inplace=True) #가장 첫번째의 이름이 ID인데 의미가 없어서 DROP 즉 제거
breast_cancer['label'].replace([2, 4], [0, 1], inplace=True) #암이 있다없다를 2,4로 표시했던 것을 0,1로 바꿔줌.
breast_cancer.replace('?', -999999, inplace=True)  # replace missing value with outliers #MISSING DATA를 ? 이상치를 대체
breast_cancer.head()

,clump_thickness,uniformity_of_cell_size,uniformity_of_cell_shape,marginal_adhesion,single_epithelial_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,label
0,5,1,1,1,2,1,3,1,1,0
1,5,4,4,5,7,10,3,2,1,0
2,3,1,1,1,2,2,3,1,1,0
3,6,8,8,1,3,4,3,7,1,0
4,4,1,1,3,2,1,3,1,1,0

### wine dataset

In [ ]:
wine = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data', names=['label', 'malic_acid', 'ash', 'alcalinity_of_ash', 'magnesium', 'total_phenols','flavanoids', 'nonflavanoid_phenols' ,'proanthocyanins', 'color_intensity', 'hue', 'OD280/OD315_of_diluted_wines', 'proline'], delimiter=",", index_col=False)
#불러오는데 칼럼명이 없어서 입력해줌.
wine.head()

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  return func(*args, **kwargs)

,label,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,OD280/OD315_of_diluted_wines,proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93

## Comparing 6 classification algorithms

아래는 무조건 알아야함?

In [ ]:
from sklearn.linear_model import LogisticRegression
#Y=AX+B은 LINEAR REGRESSION인데
#어떤 식 약간 계단 모양으로 된 아이는  LogisticRegression (말이 REGRSSION이지, CLASSIFICATION으로 대표함. 0,1밖에 없으니)
#0으로 쭉가다가 1로 가는 건데 중앙점, 바뀌는 지점을 찾아야할 것.
#예측을 하는 느낌
#X가 여러개 들어와도 이렇게 맞춰지는 것이긴 함.
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neural_network import MLPClassifier

models = [
    ('LR', LogisticRegression()),
    ('NB', GaussianNB()),
    ('SVM', SVC()),
    ('KNN', KNeighborsClassifier()),
    ('DT', DecisionTreeClassifier()),
    ('NN', MLPClassifier()),
]

### test a single model (e.g. Logistic Regression)

In [ ]:
from sklearn.model_selection import train_test_split
import numpy as np

dataset_name = 'iris'
dataset = iris

X = np.array(dataset.drop(['label'], axis=1))
y = np.array(dataset['label'])
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
#훈련과 테스트 즉, 4개로 나누고 
#테스트에 얼마나 쓸 것인지 설정도 함.

name = 'LR'
model = LogisticRegression()
model.fit(X_train, y_train)
accuracy = model.score(X_test, y_test) #그 ACCURACY 값을 구하는 느낌.
print(dataset_name, name, accuracy)

iris LR 1.0

In [ ]:
model.predict(np.array([6, 3, 5, 2]).reshape(1,4)) #2차원으로 RESHAPE
#네 개의 값으로 예측가능하니, 숫자값 4개 넣어줌.
#2라고 나오는 것은 그 3번째에 해당하는 붓꽃 종임.

array([2])

### Evaluate all the models

In [ ]:
for dataset_name, dataset in [('iris', iris), ('breast_cancer', breast_cancer), ('wine', wine)]:
  X = np.array(dataset.drop(['label'], axis=1))
  y = np.array(dataset['label'])
  X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

  for name, model in models:
    model.fit(X_train, y_train)
    accuracy = model.score(X_test, y_test)
    print(dataset_name, name, accuracy)

iris LR 1.0
iris NB 1.0
iris SVM 1.0
iris KNN 1.0
iris DT 1.0
iris NN 1.0
breast_cancer LR 0.35714285714285715
breast_cancer NB 0.9214285714285714
breast_cancer SVM 0.6785714285714286
breast_cancer KNN 0.9857142857142858

/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  ConvergenceWarning,

breast_cancer DT 0.95
breast_cancer NN 0.9714285714285714
wine LR 0.9166666666666666
wine NB 0.9444444444444444
wine SVM 0.5833333333333334
wine KNN 0.8333333333333334
wine DT 0.9444444444444444
wine NN 0.8888888888888888

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  ConvergenceWarning,

다음주에 클러스터링과 

dimensionality (pca): 알고리즘에서 대표적인 아이/ 세상의 많은 정보들은 correlation되어있음. x만 하나 있는게 특징, x,y 둘 다 있는 것이 아니라