<a href="https://colab.research.google.com/github/heejininku/class2022Fall/blob/main/20221125(1)_clustering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

저번시간까지는 머신러닝에서 classification, regrssion에 대해 다양한 모델들을 보면서,인아웃풋이 어떻게 들어가는지 배웠음.


오늘은 인아웃풋이 전제가 되지 않는 아이들을 볼 것. 대부분의 머신러닝은 인아웃풋이 전제가 됨.
아웃풋이 없기에 인풋이라고 이름붙이기는 그렇지만, x만 있다고 생각하면 됨.

인아웃풋이 있을 때는 키가 입력이 되고 출력이 성별 등으로 페어를 할 수 있음. (이런 경우 classification)

그러나 지금 같은 상황은 성별은 모르고 키만 아는,데이터가 있는데 그 정보만 있는 상황
(y라는 label할 정보가 없는 상황)
공교롭게 160쪽으로 몰려있고, 170쪽으로 또 몰려있고 그러면 이게 한 덩어리, 또 다른 덩어리가 있는 것이구나를 알 수 있음. (그룹핑)
(물론, 이게 키라는 사전 지식이 있다면, 남자랑 여자이구나를 알 수는 있을 수도)

또 다른 경우는 하나의 숫자만 있는 것이 아니라 여러개의 숫자가 있을 수 있음. 저번에 살펴본 irish 붓꽃 데이터 같은 것. (4개의 숫자 정보(꽃 받침, 꽃잎 등) 가 들어가서 붓꽃 종류를 알려주는 느낌)

총 50개가 순서대로 쫙 들어있는데
이 4가지의 정보만 안다면 종을 알 수 있는 것임.
이것은 전형적인 classification 문제
그런데 여기서 label 정보를 모른다고 생각해보자
그래서 label을 하고 싶은 상황이 있을 수 있음
이걸 가지고  그룹핑이 가능하다(첫번째 50개를 a그룹, 두번째 50개를 b그룹, 이런식으러) 그걸 클러스터링이라고 부름.
아래는 4개의 정보이기에 4차원 정보- 이런 것들을 그룹핑하는 것이 클러스터링

클러스터링의 기법은 여러가지이나.
k-means, GMM 정도만 배울 것임.
(이 안 알고리즘의 소개는 안 할 것)
왜, 그리고 어떤 용도로 사용하는지 정도만 알자

## Loading a dataset

위에서 앞부분의 4가지 숫자는 입력, 마지막 하나는 출력
4차원의 4개의 변수가 x,y 형태로 Pairwise 가 되어 있는게 아니라 하나만 있을 때 어떻게 클러스터링을 하느냐
(이걸 잘 이해해야, 시험문제 풀이 가능)

상상력을 발휘해보자.
예를 들어서
지금은 숫자가 네개이지만, 숫자가 세개만 있어서 (3차원이라고 생각) 즉 (5,6,7 이 하나의 꽃이다)라고 한다면 우리는 세개의 숫자를 하나의 벡터라고 함. (한 꽃에 대해 하나의 벡터로 표현이 가능한 것.)

그럼 삼차원의 공간에서 한 점을 찍을 수 있을 것.
첫번째 점이 첫번째 꽃, 두번째 점이 두번째 꽃.. 


아래같이 4차원의 공간이라고 하더라도 점은 찍을 수 있음. 점을 다 찍었다고 해보면, 50개씩 그룹핑이 될 수 있음. (만약 그룹핑이 이렇게 예쁘게 되지 않는다면, 클러스터링이 되지 않는 것)

데이터를 가지고 이런 생각을 할 수 있어야 함!
데이터 자체가 원래부터 하나로 뭉뜨그려져 있다면 어떤 머신러닝 기술이 와도 자를 수 없음. 그러므로 데이터가 이런 식으로 되어있다고 가정하는 것.


모든 정보는 이런 식으로 벡터로 나타낼 수 있음. 
여기서는 수치 정보이지만, 데이터의 대표적인 3종류인 텍스트, 이미지, 사운드도 벡터화됨.
벡터화가 되고 나면 이런 형태의 분석이 가능함.
(사진의 경우에는 4천개의 정도의 숫자가 나오면, 차원만 4천차원이 되는 것뿐 "한 점"으로 찍을 수 있다.) 

벡터가 기하 속에 표현될 때, 모든 데이터와 AI는 끝나는 것.

숫자 4개는 4차원 벡터다.

In place해서 true라고 하면 iris 자체가 업데이트가 되는 것.
드랍을 하면 iris 라는 df 자체가 업데이트되어서 iris 자체가 바뀌는 것

디폴트가 false인데, false라고 쓰거나 아예 안 적으면 drop을 시키더라도 iris 자체는 안 바뀌고,그냥 iris drop이 뱉어내는 아웃풋 값만 바뀌는 것

In [ ]:
import pandas as pd 
#아래는 일단 데이터 가지고 오기
iris = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data', names=['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'label'])
iris

     sepal_length  sepal_width  petal_length  petal_width           label
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [ ]:
X = iris.drop(['label'], axis=1)
X

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

## Comparing Algorithms

### K-Means

랜덤하게 K개의 점을 찍어라~라는 의미
그 점을 대충 찍어놓고 그 점을 계속 움직여나가면서 어떤 것에 잘 맞는지 계속 찾아나가는 것.

In [ ]:
from sklearn.cluster import KMeans
model = KMeans(n_clusters=3) #클러스터링은 몇개의 클러스터인지 정보를 사전에 알려줌.
#클러스터 종류가 3개임.
model.fit_predict(X) #fit_predict는 label 정보가 빠진 4차원 정보임.
#이것을 K-Means라는 알고리즘을 써서 3개의 클러스터로 나누어라
#1이라는 걸 A타입, 2라는 걸 B타입.. 이런식으로 알 수 있음. 
#(물론 중간중간 틀리는 것이 존재함.-그런 건 실제 데이터를 봐도 조금 헷갈릴만할 것.)

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 2, 2, 2, 2, 0, 2, 2, 2,
       2, 2, 2, 0, 0, 2, 2, 2, 2, 0, 2, 0, 2, 0, 2, 2, 0, 0, 2, 2, 2, 2,
       2, 0, 2, 2, 2, 2, 0, 2, 2, 2, 0, 2, 2, 2, 0, 2, 2, 0], dtype=int32)

###Gaussian Mixture Model(GMM)

Gaussian이라는 것이 정규분포와 같은 것.
Gaussian분포를 만들어놓고, 조금씩 움직여가면서
현재의 데이터와 핏하게 만들 수 있는지를 보는 것.

In [ ]:
from sklearn.mixture import GaussianMixture
model = GaussianMixture(n_components=3) #클러스터 개수 알려줌.
#1타입의 경우에는 확실한 듯. 2타입은 0타입과 약간 겹치는 (overlap)부분이 있구나
#그래도 위의 알고리즘보다는 잘 나오는 편
model.fit_predict(X)

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 2, 0, 2, 0, 2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

지금은 아주 간단한 것을 보았지만, 사진처럼 4k같이 아주 많은 경우에도 이 방식이 가능함.

단, 서로서로 비교 가능하게 차원은 같아야함.

![](https://firebasestorage.googleapis.com/v0/b/programmingwithgilbert.appspot.com/o/Videos%2FScikit%20Learn%20Tutorials%2FScikit%20Learn%20Tutorial%20%237%20-%20Clustering%20Algorithms%2FAlgorithm%20Comparison.png?alt=media&token=c71334ff-e81f-465d-8009-655fe0132017)